<div class="max-w-4xl mx-auto bg-white p-6 py-8 rounded-lg shadow-sm border border-gray-200">
    @if (post) {
    <div>
        <button routerLink="/posts" class="mb-4 text-primary hover:text-primary/80 flex items-center">
            ← Retour aux articles
        </button>

        <h2 class="text-3xl font-bold mb-4 text-gray-800">{{ post.title }}</h2>
        <p class="text-gray-600 leading-relaxed whitespace-pre-wrap">{{ post.body }}</p>
    </div>
    }

    @if (errorMessage) {
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded">
        {{ errorMessage }}
    </div>
    }
</div>